@import 
url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');


body{
    background: rebeccapurple;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    justify-content: center;
    text-align: center;
    
}

.form-container{
    width: 40%;
    border: 1px solid royalblue;
    border-radius: 5px;
    /*text-align: center;*/
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    background-color: aliceblue;
    display: inline-block;
}

.form-container:hover{
    padding: 20px;
}

div label{
    margin-left: 30px;
}

div #input{
    padding: 5px;
    margin-left: 25px;
    display: inline-block;
}

input [email-data]{
    margin-left: 30px;
    padding-left: 30px;
}

div #input:focus{
    padding: 10px;
    margin: 35px;
}

.form-body{
    padding: 5px;
    margin: 10px;
    display: inline;
    
}



[submit-btn]{
    padding: 5px;
    margin-top: 10px ;
    border: 1px solid green;
}

[submit-btn]:hover{
    padding: 10px;
    margin-top: 10px ;
    background-color: aquamarine;
}

[reset-btn]{
    padding: 5px;
    margin-top: 10px;
    border: 1px solid green;
}

[reset-btn]:hover{
    padding: 10px;
    margin-top: 10px ;
    background-color: aquamarine;
}

[fname-validate-span]{
    color: red;
    margin: 10px;
    padding: 5px;

}

[lname-validate-span]{
    color:red;
    margin: 10px;
    padding: 5px;
}

[email-validate-span]{
    color:red;
    margin: 10px;
    padding: 5px;
}
